/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  width: 50%;
}

.mat-column-position {
  max-width: 100px;
}

.mat-column-name {
  max-width: 100px;
}

.mat-form-field .mat-form-field-underline {
  display: none;
}
